@font-face {
  font-family: 'HarmonyOS';
  src: url('/assets/fonts/HarmonyOS_Sans_Black.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'HarmonyOS';
  src: url('/assets/fonts/HarmonyOS_Sans_Regular.ttf');
  font-weight: 300;
}


.abertura{
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 20px;
 background: #e7e8ee;
 z-index: 1000;
 -webkit-animation: FadeOut .5s ease-in-out;
 -o-animation: FadeOut .5s ease-in-out;
 animation: FadeOut .5s ease-in-out;
 -webkit-animation-delay: 2s;
 -moz-animation-delay: 2s;
 -o-animation-delay: 2s;
 animation-delay: 2s;
 font-family: 'HarmonyOs', sans-serif;
 z-index: 10000;
}

.abertura .nome-do-aplicativo{
  font-size: 1rem;
  font-family: 'HarmonyOs', sans-serif;
  font-weight: bold;
  color: #000;
}

@-webkit-keyframes FadeOut {
 from { opacity: 1; }
 to { opacity: 0; }
}
@-o-keyframes FadeOut {
 from { opacity: 1; }
 to { opacity: 0; }
}
@-moz-keyframes FadeOut {
 from { opacity: 1; }
 to { opacity: 0; }
}
@keyframes FadeOut {
 from { opacity: 1; }
 to { opacity: 0; }
}

.abertura .logo{
 height: 120px;
 width: 120px;
 -webkit-border-radius: 1rem;
 -moz-border-radius: 1rem;
 border-radius: 1rem;
 -webkit-animation: FadeOut .5s ease reverse;
 -o-animation: FadeOut .5s ease reverse;
 animation: FadeOut .5s ease reverse;
}

.abertura .desenvolvedor{
 position: absolute;
 bottom: 30px;
 -webkit-animation: FadeOut .5s ease reverse;
 -o-animation: FadeOut .5s ease reverse;
 animation: FadeOut .5s ease reverse;
}

  

body{
  font-family: 'HarmonyOS';
  font-weight: 300;
  background: #e7e8ee;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*{
  margin: 0;
  padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.app-bar{
   position: fixed;
   top: 0;
   width: 100%;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 30px;
   color: #fff;
   background: #000;
   z-index: 1000;
   font-size: 1rem;
}

.app-bar p{
  text-transform: uppercase;
}

.app{
  margin-top: 70px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}


.app-bar label{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  background: #333;
  -webkit-border-radius: .7rem;
  -moz-border-radius: .7rem;
  border-radius: .7rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #aaa;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.app-bar label input[type*="checkbox"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 45px;
  height: 24px;
  background: #555;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.app-bar label input[type*="checkbox"]::after{
  content: '';
  position: absolute;
  background: #fff;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: 4px;
  -webkit-transition: .25s ease-in;
  -moz-transition: .25s ease-in;
  -ms-transition: .25s ease-in;
  -o-transition: .25s ease-in;
  transition: .25s ease-in;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.app-bar label input[type*="checkbox"]:checked{
  background: #000;
}

.app-bar label input[type*="checkbox"]:checked::after{
  left: calc( 100% - 18px);
}


.pedra-sorteada{
  width: 200px;
  height: 200px;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  border-radius: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #000;
  --cor: #000;
  box-shadow: 0 10px 20px #00000045;
  transition: .5s linear;
}

.pedra-sorteada .circulo{
  height: 70%;
  width: 70%;
  -webkit-border-radius: 70%;
  -moz-border-radius: 70%;
  border-radius: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(at top left, #eee 20%, #fff);
  font-family: 'HarmonyOS', sans-serif;
  position: relative;
}

.pedra-sorteada .circulo::after{
  content: '';
  position: absolute;
  width: 80%;
  height: 80%;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  border-radius: 60%;
  display: block;
  border: 8px var(--cor) solid;
}

.globo.girar .pedra-sorteada{
  background: #000;
  --cor: #000
}

.globo.girar .pedra-sorteada .circulo::after{
    border-style: dotted;
    border-width: 10px;
    animation: girar 1s ease both 3 alternate;
}


@keyframes girar{
    from{
      transform: rotate(0);
    }to{
      transform: rotate(360deg);
    }
}

.globo.girar .pedra-sorteada .circulo .letra,
.globo.girar .pedra-sorteada .circulo .numero{
  opacity: 0;
}

.pedra-sorteada .circulo .letra{
  font-size: 1.5rem;
  font-weight: bold;
}
.pedra-sorteada .circulo .numero{
  font-size: 3.8rem;
  font-weight: bold;
}

.pedra-sorteada.pedra-b,
#tabela-de-numeros tbody td.pedra-b.pintar,
#tabela-de-numeros th.B{
  background: radial-gradient(at top left, #4CA1FF 20%, #0754A8);
  --cor: #4CA1FF
}

.pedra-sorteada.pedra-i,
#tabela-de-numeros tbody td.pedra-i.pintar,
#tabela-de-numeros th.I{
  background: radial-gradient(at top left, #FF4C4C 20%, #910606);
  --cor: #FF4C4C
}

.pedra-sorteada.pedra-n,
#tabela-de-numeros tbody td.pedra-n.pintar,
#tabela-de-numeros th.N{
  background: radial-gradient(at top left, #7E25FF 20%, #3F0692);
  --cor: #7E25FF
}

.pedra-sorteada.pedra-g,
#tabela-de-numeros tbody td.pedra-g.pintar,
#tabela-de-numeros th.G{
  background: radial-gradient(at top left, #FFA955 20%, #FF8003);
  --cor: #FFA955
}

.pedra-sorteada.pedra-o,
#tabela-de-numeros tbody td.pedra-o.pintar,
#tabela-de-numeros th.O{
  background: radial-gradient(at top left, #40FF2C 20%, #149A06);
  --cor: #149A06
}


.btn-sortear{
    margin-top: 40px;
    width: 200px;
    height: 45px;
    color: #fff;
    background: #222;
    border-radius: .5rem;
    box-shadow: 0 5px 15px  #00000045;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.btn-sortear:hover{
  box-shadow: 0 0 0  #00000045;
  background: #444;
}

.btn-sortear:disabled{
  background: #555;
  color: #eee;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.numeros-sorteados{
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

#tabela-de-numeros{
  margin: auto;
  width: 100%;
  max-width: 450px;
}

#tabela-de-numeros thead th{
  background: #050E79;
  color: #fff;
  -webkit-border-radius: .6rem;
  -moz-border-radius: .6rem;
  border-radius: .6rem;
  font-size: 1.3rem;
  height: 50px;
}


#tabela-de-numeros tbody td{
  height: 30px;
  -webkit-border-radius: .6rem;
  -moz-border-radius: .6rem;
  border-radius: .6rem;
  background: #555;
  color: #eee;
  position: relative;
}

#tabela-de-numeros tbody td.pintar{
  background: #000;
  color: #fff;
}

@media screen and (min-width: 763px){
  .pedra-sorteada{
    height: 250px;
    width: 250px;
  }
  
  
}